body {
	padding: 0;
	border: 0;
	margin: 0;

	image-rendering: pixelated;
	background-color: #555555;
}

#cg-canvas {
	position: absolute;

	padding: 0;
	border: 0;
	margin: 0;

	top: 0vh;
	left: 0vw;

	background-color: #FFFFFF;
}