* {
	font-family: monospace;
}

body {
	padding: 0;
	border: 0;
	margin: 0;

	image-rendering: pixelated;
	background-color: #555555;
	color: #FFFFFF
}

#cg-canvas {
	padding: 0;
	border: 0;
	margin: 0;

	image-rendering: pixelated;
	background-color: #FFFFFF;
}